body {
  text-align: center;
  background-color: rgb(114, 108, 106);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: azure;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin: 0 30px;
  font-weight: bold;
}
